
html{



   
    

   
    }

    .carousel{
        margin: 3em auto;
        display: flex;
        gap: 1em;
 
    }

    .items{
        height: 12em;
        background-color;
   
    }





    









}