html{
    /* padding-top: 10%; */
    /* background-color: #997B66; */
    /* background-color: #05668D; */

    /* https://www.youtube.com/watch?v=gmI5nvzv170 */

  body {
        
        /* background-color: #EBF2FA; */
        display:grid;
        width: 100%;
        overflow-x: hidden;
        margin-left: 0;
        height: fit-content;
        margin-bottom: 0;

        p {
            font-size: 18px;
        }
     
    }

    nav {
        top:0;
        left:0;
        right:0;
        background-color: #D08C60;
        position: fixed;
        width: 100vw;
        height: 20vh;
        /* background-color: #427AA1; */
        padding: .5em;
        /* padding-top: 1em; */
        border-radius:0 0 .5em .5em;
        display:grid;
        grid-template-columns: 20vw 70vw;
        grid-template-rows: 40% 60%;
        column-gap: 10vw;
        overflow: none;
        align-items: center;
        z-index: 9;

        .nav_link {
            grid-area: 1 / 2 / 2 / 3;
            display: grid;
            grid-template-columns: 30% 30% 30%;
            text-align: center;
        } 

        .nav_img {
            grid-area: 1 / 1 / 3 / 2;
            width: 100%;
            height: auto;
            
        } 

        .nav_link span {
            width: 100%;
            border-radius: 0 0.5em 0 0.5em;
            height: 100%;
        }

        .nav_link a{
            color:#EBF2FA;
            text-decoration:none;
            padding: 1em 2em;
            font-size: 1.9vw;
            
  
        }

        .nav_link span:hover {
            background-color: white;
            opacity: 50%;
            a {
                color: #D08C60;
            }
            
            
                

        }
        
    }

    header {
        display: grid;
        margin-top: 20vh;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 35vh;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        background-size: cover;

        h1 {
            font-size: 5vw;
        }

    } 

    #Indexheader {
        background-image: url(bannerimages/Index.png);
        background-position: 0% 50%;
    }

    #Librariesheader {
        background-image: url(bannerimages/LibrariesNearYou.png);
        background-position: 0% 20%;
    }

    #Bookstoresheader {
        background-image: url(bannerimages/Bookstores.jpg);
    }


    .northislandlibraries {
        background-position: 70% 30%;
    }

    .southislandlibraries {
        background-position: 10% 30%;

    }

    #northlandheader {
        background-image: url(bannerimages/Northland.png);
    }

    #aucklandheader {
        background-image: url(bannerimages/Auckland.png);
    }

    #waikatoheader {
        background-image: url(bannerimages/Waikato.png);
    }

    #BayofPlentyheader {
        background-image: url(bannerimages/BayOfPlenty.png);
    }

    #HawkesBayheader {
        background-image: url(bannerimages/HawkesBay.png);
    }

    #Taranakiheader {
        background-image: url(bannerimages/Taranaki.png);
    }

    #Manawatuheader {
        background-image: url(bannerimages/Manawatu.png);
    }

    #Wellingtonheader {
        background-image: url(bannerimages/Wellington.png);
    }

    #marlboroughheader {
        background-image: url(bannerimages/Marlborough.png);
    }

    #WestCoastheader {
        background-image: url(bannerimages/WestCoast.png);
    }

    #Canterburyheader {
        background-image: url(bannerimages/Canterbury.png);
    }

    #Otagoheader {
        background-image: url(bannerimages/Otago.png);
    }

    #Southlandheader {
        background-image: url(bannerimages/Southland.png);
    }

    main {
        /* margin-left: 2.5%; */
        margin-top: 0; 
        background-color: #F1DCA7; 
        height: fit-content;
        width: 100%;
        h2{
            background-color:#997B66;
            color: rgb(213, 213, 213);
            padding: 1em 3em;
            text-align: center;
        }
    }

    #Indexmain {
        height: 100%;
        margin-left: 0;
        display:grid;
        grid-template-areas: "NotesLeft Maincontent NotesRight";
        grid-template-columns: 20% 60% 20%;
        
    }

    #Left {
        grid-area: NotesLeft;

    }

    .Notes {
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 1vh;
        background-color: #B58463;
    }

    .Notes img {
        width: 100%;
    }

    .Middle {
        grid-area: Maincontent;
        justify-content: center;
        align-items: center;
    }

    #Right {
        grid-area: NotesRight;
    }

    .librarymains {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        column-gap: 5%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    }

    .dropdown {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .libraryheads {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    
    


   


/* This is the code for the interactive image carousel */
    .carousel{
        width: 85%;
        height: fit-content;
        overflow-x: auto;
        margin: 3em auto;
        display: flex;
        /* gap: 1em; */
        /* background-image: url(indeximages/Bookshelf-wide.png); */
        /* padding: 1em;  */
        scroll-behavior:smooth;
        anchor-name: --carousel; 
        /* This declares that this class is the parent element of an anchor group and declares the name of the group.
        Whenever the custom varible (--carousel) is used, that element's position will be anchored in relation to the carousel. */
        scroll-snap-type: x mandatory;
        scroll-marker-group:after;
        transition: 0.5s ease-in-out;
        /* background-color: #B58463; */
        background-image: url(indeximages/Shelf.png);
        background-position: 0% 100%;
        /* background-size: cover;  */
        background-repeat: repeat-x;
        background-size:contain;
         
 
    }

    .carousel::-webkit-scrollbar{
        display:none;
    }

    .carousel::scroll-button(right),.carousel::scroll-button(left) {
        content: '→';
        border:none;
        cursor:pointer;
        position: fixed;
        position-anchor: --carousel;
        /* This line of code above anchors the position of the buttons to the carousel. 
        Whereas the code below states where in relation to the parent element the buttons will go.
        Therefore if the size of the screen were to change the buttons would stay fixed in their relative position */
        position-area: right center;
        translate: -50%;
        background-color:#797D62;
        font-size: 3rem;
        color:rgb(0, 0, 0);
        border-radius:50%;
        padding-bottom: .15em;
        transform: translateX();
        transition: 0.5s, 7.5em, ease-in-out;

   
       
    }


         /* .carousel::scroll-button(right):disabled {
        opacity: 50%;
        cursor: default;
    } */

    

      .carousel::scroll-button(left) {
        content:'←';
        position: fixed;
        position-anchor: --carousel;
        position-area: left center;
        translate: 50%;
       

    }

    .carousel::scroll-button(left):disabled {
        opacity: 75%;
        cursor:default;
    }

   

    .carousel::scroll-marker-group {
        display:flex;
        justify-content: center;
        gap: .5em;
        position: fixed;
        position-anchor: --carousel;
        position-area: center bottom;
        padding: .5em;
        translate: 0 75%;
    }

    .items::scroll-marker {
        content:'';
        height: 1em;
        width: 1em;
        background-color: #9B9B7A;
        border-radius: 50%;
    }

    .items::scroll-marker:target-current {
        background-color: #797D62;
    }

  

    .items{
        scroll-snap-align: start;
        /* padding: .5em; */
        text-align:center;
        align-content:center;
        color:#000000;   
        
   
    }

 

    /* This is the end of the code for the image carousel */
  
   /* This is the styling for the book information pop ups */


    .items-content {
        width: 100%;
        height: 100%;
        position: relative;
        justify-content: center;
        align-content: center;
        /* background-image: url(indeximages/Shelf.png);
        background-position: 0% 100%;
        background-size: cover;  */
        /* background-color: black; */
    } 

    .carouselImages {
        width: 75%;
        height: auto;
    } 

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 75%;
        height: 99.2%;
        left: 12.55%;
        opacity: 0;
        align-content: center;
        border-radius: .5em;
        
    }

    .items-content:hover {
        .overlay {
            opacity: 0.95;
        }
    }

    /* .popup {
        align-content: center;
        justify-content: center;
        background-color: #997B66;
        position: fixed;
        z-index: 10;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        display: none;
    } */

    .popup-content {
        width : 90%;
        height: 90vh;
        border: .5em solid #B58463;
        box-shadow: 0vw 0vh 45vw 10vw black;
        background-color:#B58463;
        position: fixed;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        z-index: 11;
        display: none;
        grid-template-rows: 10% 90%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "header header" "image main"; 
        row-gap: 1em;
        column-gap: .5em;
        /* justify-content: center;
        text-align: left; */
        /* overflow-y: auto; */
        
        
    } 
 
    /*.close {
        border: none;
        padding: 1em;
        justify-content: center;
        align-items: center;
        padding-bottom: .5em;
        padding-top: .5em;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: 90%;
        top: 5%;

    } */

    
    .items img {
        border-radius: .5em;

    }

    .icon {
        border: none;
        background-color: #797D62;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: .5em;   
    }

   

    .popupbutton button {
        cursor: pointer;
        border-radius: 50%; 
        position: absolute;
        top: -3%;
        right: -2%;
        border-style: none;
        outline: none;
        padding-bottom: 1.25em;
        padding-top: 1.25em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        font-weight: 5px;
        background-color: #9B9B7A;
    }

    .popupbutton button:hover {
        background-color: #797D62;
    }

    .popup-images {
        grid-area: image;
        align-content: center;
        justify-content: center;
        margin: 5%;
        background-color: #F1DCA7;
        
    }

    .popup-images img {
        width: 60%;
        height: auto;
    }

    .maintext {
        grid-area: main;
        text-align: left;
        align-content: center;
        margin: 5%; 
        background-color: #F1DCA7;
        

        p {
            margin: 2.5%;
        }
    }

    .popup-titles {
        grid-area: header;
    }


    .icon img {
        max-width: 25%;
        opacity: 1;
    }


    

    


    


    /* This is the code for the dropdown menu in pages: Libraries Near You, etc */
       /* This code uses the pseudo-class :hover so that when the users mouse hovers over 
       the main dropdown selector the rest of the menu's display will be set to block and thus will appear. 
       This interactivity feature makes this website more engaging and interisting to the user. */
    .content:hover {
        .menu {
        display: block;
        }
    }

    .content {
        max-width: fit-content;
    }

       /* This is the class for the child element of the dropdown menu, it includes all of the regions. */
    .menu {
        background-color:#427AA1;
        list-style: none;
        /* The position:absolute; function works in  */
        position:absolute;
        margin-top:0%;
        display: none;
        height: 35%;
        overflow-y: auto;
        
    }


    .dropdown{
        text-decoration:none;
        background-color:#679436;
        padding: 10px 15px;
        color:#EBF2FA;
        position: relative;
        
    }

    .dropdown:hover {
        background-color:#A5BE00;
    }
   

    .region {
        padding: 10px 15px;
        
        

    }

    .region:hover {
        background-color:#679436;
    }

    .content:hover {
        .dropdown {
            background-color:#A5BE00;
        }
    }

   

    .link {
        text-decoration:none;
        color:#EBF2FA;
        font-size:85%;
        width: 100%;
        

    }

 /* This is the end of the dropdown menu code */

    .toplibraries {
        display: grid;
        grid-template-areas:"image1 image2 image3" "text1 text2 text3";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50%;
        column-gap: 1vw;
        row-gap: 0;
        height:max-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        box-shadow: 1em 2em 0.5 black;

        img {
            border-radius: 0.5em 0.5em 0 0;
            width: 100%;
            height: auto;
        }

    }

    .librarytext {
        background-color: #B58463;
        border-radius: 0 0 0.5em 0.5em;
        text-align: left;
        width: 100%;
        height: 100%;

        p, h3 {
            margin-left: 1em;

        }

    }

    
   .expandable {
        width: 100%;
        margin: 1em 0;
        font-size: 16px;
   }

   .expandable-open {
    .expandable-content {
        grid-template-rows: 1fr;
    }
   }

   .expandable-open {
    .expandable_icon {
        transform: rotate(-90deg);
    }
   }

   .expandable_icon {
        transition: transform 0.3s;
   }

   .expandable_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px;
        user-select: none;
        background-color: #B58463;
        border-radius: .5em .5em 0 0;
        cursor: pointer;

    }

   .expandable_title {
        font-weight: bold;
    }

   .expandable_main {
        padding: 0 18px;
        line-height: 1.4;
        font-size: 0.85em;
        border: 1px solid black;
        border-top: none;
        border-radius: 0 0 .5em .5em;
        overflow: hidden;
        background-color:#F1DCA7;
        color: black;
        margin-bottom: 2px;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
        justify-content: center;
        align-items: center;
        grid-column-gap: .5em;
    
    }
   
   .address {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   

   .expandable-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-out;

    }

   .expandable_main img {
        width: 100%;
    }

    .AtoZ {
        display: flex;
        align-items: flex-start;
        color:#000000;
        h3 {
            color: white;
        }
        
    }

    .booklist {
        margin-left: 1%;
        overflow: auto;
        width: 90%;

    }

    .quicklinks {
        position: sticky;
        top: 20%;
        height: 100vh;
        width: 10%;
        overflow: auto;
        background-color: #B58463;
        text-align: center;

    }

    .quicklinks a{
        display: block;
        padding-bottom: 2em;
        padding-top: 2em;
        text-decoration: none;
        color: white;
        
    }


    .quicklinks a:hover {
        background-color: #EBF2FA;
        opacity: 0.5;
        color:#B58463;
         
    }

    .booklistHead {
        scroll-margin-top: 24vh;
    }

    footer {
        background-color: #D08C60;
        margin-bottom: 0;
        padding: 5em;

    }

    footer span {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 750px) {
        .librarymains {
            display: block;
            
        }

        .items {
            flex: 0 0 100%;
             
        }

        nav {
            display: block;
            
            
            .nav_link {
                display: block;

                a {
                    font-size: 18px;
                }
                
            }

            .nav_img {
                height: 50%;
                width: auto;
                

            }
        } 
            
    }
    


    @media screen and (min-width: 750px) {
        .items {
            flex: 0 0 45%;
           
        }
    }





 
}
/* https://www.google.com/search?q=how+to+make+a+simple+java+pop+up+when+a+button+is+clicked+in+a+website&sca_esv=4e0bfa84728bf4dd&rlz=1CAJYDF_enNZ1095&biw=1366&bih=681&ei=nNPFabnsAZCTseMP6_edoA8&ved=0ahUKEwi5qp7B7b6TAxWQSWwGHet7B_QQ4dUDCBE&uact=5&oq=how+to+make+a+simple+java+pop+up+when+a+button+is+clicked+in+a+website&gs_lp=Egxnd3Mtd2l6LXNlcnAiRmhvdyB0byBtYWtlIGEgc2ltcGxlIGphdmEgcG9wIHVwIHdoZW4gYSBidXR0b24gaXMgY2xpY2tlZCBpbiBhIHdlYnNpdGVIsihQmw9YvCdwAXgAkAEAmAGpA6ABwhuqAQgyLTExLjEuMbgBA8gBAPgBAZgCBKACvwjCAg4QABiABBiwAxiGAxiKBcICCBAAGLADGO8FwgILEAAYsAMYogQYiQXCAgUQIRigAcICBxAhGKABGAqYAwCIBgGQBgeSBwkxLjAuMS4xLjGgB8AdsgcHMi0xLjEuMbgHswjCBwUyLTEuM8gHJIAIAA&sclient=gws-wiz-serp&safe=active&ssui=on */