
/* These are stylistic and format componants which provide a basis - that applys to all pages */
  body {
        display:grid;
        width: 100%;
        overflow-x: hidden;
        margin-left: 0;
        height: fit-content;
        margin-bottom: 0;
    }

    p {
        font-size: 18px;
        font-family: "Abyssinica SIL", serif;
    }
     

    /* The nav bar is in a fixed position which allow sit to stay at the top of the screen even when the 
    user scrolls down. This enables the user quick access to anywhere on the site without having to scroll
    up to the top of the page. */
    nav {
        top:0;
        left:0;
        right:0;
        background-color: #D08C60;
        position: fixed;
        width: 100vw;
        height: 20vh;
        padding: .5em;
        border-radius:0 0 .5em .5em;
        display:grid; 
        grid-template-columns: 20vw 70vw;
        grid-template-rows: 40% 60%;
        column-gap: 10vw;
        overflow: hidden;
        align-items: center;
        z-index: 9; /*The z index determines how this element is stacked on top or underneath of other 
        elements near it that have a different position than the default (e.g fixed, absolute, relative, sticky etc). 
        The highest z index number will be on top.*/
    }

        .nav_link {
            grid-area: 1 / 2 / 2 / 3; /*The grid area function is a short-hand for row/column start/end 
            (Format - grid-area: row-start / column-start / row-end / column-end). 
            This defines where in the grid this specific element will be positioned.*/
            display: grid; /*This grid element also has a display of grid, this defines the layout for this elements child elements*/
            grid-template-columns: 30% 30% 30%;
            text-align: center;
        } 

        .nav_img {
            grid-area: 1 / 1 / 3 / 2;
            width: 100%;
            height: auto;
            
        } 

        .nav_link div {
            border-radius: 0 0.5em 0 0.5em; /*Format - border-radius: left-top right-top right-bottom left-bottom */
        }

        .nav_link a{
            color:#EBF2FA;
            text-decoration:none;
            padding: 1em 2em;
            font-size: 1.9vw;
            width: 100%;
            height: 100%;
  
        }

        /* This is the code that makes the links style change when it is hovered over */
        .nav_link div:hover {
            background-color: white;
            opacity: 50%;

            a{
                color: #D08C60;  
            }     
        }

        
        
    
/* This is the end of the code for the navigation bar */

/* This code applies to all of the headers */
    header {
        display: grid;
        margin-top: 20vh;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 35vh;
        width: 100%;
        text-align: center; 
        align-items: center; /*This aligns this elements child elements horizontaly*/
        justify-content: center; /*This aligns this elements child elements verticaly*/
        color: white;
        background-size: cover;

    } 

    h1 {
        font-size: 5vw;
        font-family: "Abyssinica SIL", serif;
    }
    

    /* This is the code that implements the background images (banners) in the headers. 
    Some headers required specific code (such as the position elements) I have used classes and ids to target these headers */

    #Indexheader {
        background-image: url(bannerimages/Index.png);
        background-position: 0% 50%;
    }

    #Librariesheader {
        background-image: url(bannerimages/LibrariesNearYou.png);
        background-position: 0% 20%;
    }

    #Bookstoresheader {
        background-image: url(bannerimages/Bookstores.jpg);
    }


    .northislandlibraries {
        background-position: 70% 30%;
    }

    .southislandlibraries {
        background-position: 10% 30%;
    }

    #northlandheader {
        background-image: url(bannerimages/Northland.png);
    }

    #aucklandheader {
        background-image: url(bannerimages/Auckland.png);
    }

    #waikatoheader {
        background-image: url(bannerimages/Waikato.png);
    }

    #BayofPlentyheader {
        background-image: url(bannerimages/BayOfPlenty.png);
    }

    #HawkesBayheader {
        background-image: url(bannerimages/HawkesBay.png);
    }

    #Taranakiheader {
        background-image: url(bannerimages/Taranaki.png);
    }

    #Manawatuheader {
        background-image: url(bannerimages/Manawatu.png);
    }

    #Wellingtonheader {
        background-image: url(bannerimages/Wellington.png);
    }

    #marlboroughheader {
        background-image: url(bannerimages/Marlborough.png);
    }

    #WestCoastheader {
        background-image: url(bannerimages/WestCoast.png);
    }

    #Canterburyheader {
        background-image: url(bannerimages/Canterbury.png);
    }

    #Otagoheader {
        background-image: url(bannerimages/Otago.png);
    }

    #Southlandheader {
        background-image: url(bannerimages/Southland.png);
    }
/* This is the end of the code for the headers */

    /* This code is the basis for the main elements. It includes main style elements, background color, etc*/
    main {
        margin-top: 0; 
        background-color: #F1DCA7; 
        height: fit-content;
        width: 100%;

    }

    h2{
        background-color:#997B66;
        color: white;
        padding: 1em 3em;
        text-align: center;
        font-size: 30px;
        font-family: "Abyssinica SIL", serif;
        
    }

    h3 {
        font-family: "Abyssinica SIL", serif;
    }

    a {
        font-family: "Abyssinica SIL", serif;
    }


    footer {
        background-color: #D08C60;
        margin-bottom: 0;
        padding: 5em;
    }

    footer div {
        display: flex;
        justify-content: space-between;
    }

    footer p, footer a {
        text-decoration: none;
        color: black;
        font-size: 11px;
    }

/*This is the end of the code that applies to all of the pages */

    /* This code applies the two head paragraphs in the Home and Libraries Near You pages*/
    .headparagraph {
        font-size: 20px;
        text-align: center;
        line-height: 200%;
    }
        



/* This is the CSS code that only applies to the home page (index.html) */

   /* The home page has a different layout to the other pages and so I have used an id to target
    all off the elements in the home pages <main> tags*/
    #Indexmain {
        height: 100%;
        margin-left: 0;
        display:grid;
        grid-template-areas: "NotesLeft Maincontent NotesRight"; /*This lables the three main areas for the grid.*/
        grid-template-columns: 20% 60% 20%;
        
    }

    #Left {
        /* This specifies the area this specific element will go into */
        grid-area: NotesLeft;

    }

    .Notes {
        /* This class includes both the left and right note quote columns. */
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 1vh;
        background-color: #B58463;
    }

    .Notes img {
        width: 100%;
    }

    .Middle {
        grid-area: Maincontent;
        justify-content: center;
        align-items: center;
    }

    #Right {
        grid-area: NotesRight;
    }

    /* This is the code for the interactive image carousel */

    .carousel {
        width: 85%;
        height: fit-content;
        overflow-x: auto; /*This creates a scrollbar which can be used to view the overfllow content and still 
        ensures the container will stay to its specified size. */
        margin: 3em auto;
        display: flex;
        scroll-behavior: smooth; /*These two elements makes the scrolling more smooth*/
        transition: 0.5s ease-in-out;
        anchor-name: --carousel; 
        /* This declares that this class is the parent element of an anchor group and declares the name of the group.
        Whenever the custom varible (--carousel) is used, that element's position will be anchored in relation to the carousel. */
        scroll-snap-type: x mandatory; /*This specifies the scroll "snap" of the carousel (how, when it is finished scrolling, the items sit). 
        It specifies that the scrolling is done on the x acess and that the scroll snap must stop at the specified point (hence the "mandatory")*/
        scroll-marker-group: after; /*This generates the scroll marker group as a following element (sibling) of the image carousel */
        background-image: url(indeximages/Shelf.png);
        background-position: 0% 100%;
        background-repeat: repeat-x;
        background-size:contain;
         
    }
    
    /* This disables the scrollbar that appears by default when the overflow: auto; code is applied */
    .carousel::-webkit-scrollbar{
        display:none;
    }

    /* This is the code that is applicable to both scroll buttons */
    .carousel::scroll-button(right),.carousel::scroll-button(left) {
        content: '→';
        border: none;
        cursor: pointer;
        position: fixed;
        position-anchor: --carousel;
        /* This line of code above anchors the position of the buttons to the carousel. 
        Whereas the code below states where in relation to the parent element the buttons will go.
        Therefore if the size of the screen were to change the buttons would stay fixed in their relative position */
        position-area: right center;
        translate: -50%;
        background-color:#797D62;
        font-size: 3rem;
        color:rgb(0, 0, 0);
        border-radius:50%;
        padding-bottom: .15em;

    }

      /* This is the code specific to the left scroll button */
      .carousel::scroll-button(left) {
        content:'←';
        position: fixed;
        position-anchor: --carousel;
        position-area: left center;
        translate: 50%;
       

    }

    /* This is the code for the scroll markers (the little dots underneath the image carousel) */
    .carousel::scroll-marker-group {
        display: flex;
        justify-content: center;
        gap: .5em;
        position: fixed;
        position-anchor: --carousel; /*again the position-anchor element anchors the scroll markers to the carousel*/
        position-area: center bottom;
        padding: .5em;
        translate: 0 75%;
    }
    /* This is the code for the individual dots that make up the scroll markers */
    .items::scroll-marker {
        content:'';
        height: 1em;
        width: 1em;
        background-color: #9B9B7A;
        border-radius: 50%;
    }
    /* This is the code so that the relative dot to the current slide is a different colour to the rest of the dots */
    .items::scroll-marker:target-current {
        background-color: #797D62;
    }

    /* This is the individual slides for the image caorusel */
    .items{
        scroll-snap-align: start; /*this specifies that when the user stops scrolling the start of the next slide will align with the viewport*/
        text-align:center;
        align-content:center;
        color:#000000;   
        
    }

    /*This includes all the initially visible contents of the slides and the content that appears when an image is hovered over*/
    .items-content {
        width: 100%;
        height: 100%;
        position: relative;
        justify-content: center;
        align-content: center;

    } 

    /* This includes the initially visible images in the carousel */
    .carouselImages {
        width: 75%;
        height: auto;
    } 

    /* This is what is seen when the image is hovered over */
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 75%;
        height: 99.2%;
        left: 12.55%;
        opacity: 0;
        align-content: center;
        border-radius: .5em;
        
    }
    /* This makes the overlay show when the image is hovered over */
    .items-content:hover {
        .overlay {
            opacity: 0.95;
        }
    }

/* This is the styling for the book information pop ups */
   /* This class includes all of the content for the popups */
    .popup-content {
        width : 90%;
        height: 90vh;
        border: .5em solid #B58463;
        box-shadow: 0vw 0vh 45vw 10vw black;
        background-color: #F1DCA7;
        position: fixed;
        overflow: ato;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%; 
        z-index: 11;
        display: none;
        grid-template-rows: 10% 90%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "header header" "main image"; 
        column-gap: .5em;
        
    } 

    /* This specifies the images in the .items class (so both the images on the carousel and popups) */
    .items img {
        border-radius: .5em;

    }

    /* This code is specific to the button information icon, which is a link to the popup */
    .icon {
        border: none;
        background-color: #797D62;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: .5em;   
    }

    .icon img {
        max-width: 25%;
        opacity: 1;
    }

   /* This is the close button for the popup */
    .popupbutton button {
        cursor: pointer;
        border-radius: 50%; 
        position: absolute;
        border: solid black;
        top: -3%;
        right: -2%;
        padding-bottom: 1.25em;
        padding-top: 1.25em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        font-weight: 1000;
        background-color: #9B9B7A;
    }
    /* This is so that when the close button is hovered over it changes color, indicating to the user that it is a button */
    .popupbutton button:hover {
        background-color: #797D62;
    }

    /* This is for the div of which the popup images are in */
    .popup-images {
        grid-area: image;
        align-content: center;
        justify-content: center;
        margin: 5%;
        background-color: #F1DCA7;
        border-radius: .5em;
        
    }
    /* This specifies the popup images themselves */
    .popup-images img {
        width: 60%;
        height: auto;
    }
    /* This is for all the writtin context (excluding the title) in the popup */
    .maintext {
        grid-area: main;
        text-align: left;
        align-content: center;
        margin: 5%; 
        background-color: #F1DCA7;
        border-radius: .5em;
    
    }
    /* This is specifically targets the paragraph tags within the .maintext class */
    .maintext p {
        margin: 2.5%;
    }
    /* These are the popup titles */
    .popup-titles {
        grid-area: header;
        height: 100%;
        top: 0;
        padding: 0;
        justify-content: center;
    }
    /* This specifically targets the h2 tags within the .popup-titles class */
    .popup-titles h2 {
        padding: 0;
        padding-top: 1em;
        margin-top: 0;
        height: 100%;
    }

    

    /* This is the end of the code for the image carousel */
/* This is the end of the code for the home page */

 /* This is the start of the code for the Libraries Near You page (libraries.html) */
    /* This is the code for the 3 library fact files seen on the bottom of the Libraries Near You page */
    .toplibraries {
        display: grid;
        grid-template-areas:"image1 image2 image3" "text1 text2 text3";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50%;
        column-gap: 1vw;
        row-gap: 0;
        height:max-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;

    }
    /* This specifically targets the images in the .toplibraries class */
    .toplibraries img {
        border-radius: 0.5em 0.5em 0 0;
        width: 100%;
        height: auto;
    }
    /* this includes all text within the top library fact files */
    .librarytext {
        background-color: #B58463;
        border-radius: 0 0 0.5em 0.5em;
        text-align: left;
        width: 100%;
        height: 100%;

    }
    /* This specifies the paragraph and h3 tags in the .librarytext class */
    .librarytext p, .librarytext h3 {
        margin-left: 1em;

    }
/* This is the start of the code for all the libraries (auckland.html, northland.html, etc) pages */
    /* The library pages (auckland, bay of plenty, etc) share a layout to each other. This code applies to all of the library pages */
    .librarymains {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        column-gap: 5%;
        /* The layout for the library pages is simular but not identical. 
        Using auto (which is the default size) allows this code to work across all of the library pages */
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    }

    /* This applies to all the library pages sub-headings */
    .libraryheads {
        /* This specifies that the library sub-headings should always span across 2 columns. 
        I have not defined the row this class should go in as some library pages have more 
        than one sub-heading */
        grid-column-start: 1;
        grid-column-end: 3;
    }


    /* This is the code for the dropdown menu  */

     /* This code uses the pseudo-class :hover so that when the users mouse hovers over 
    the main dropdown selector the rest of the menu's display will be set to block and thus will appear. */
    .content:hover {
        .menu {
        display: block;
        }
    }
    /* This class includes all of the content in the dropdown menu */
    .content {
        width: 15vw;
        justify-self: center;
        align-self: center;
        font-size: 16px;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 5%;
        text-align: left;
        line-height: 100%;
        
    }

       /* This is the class for the child element of the dropdown menu, it includes all of the regions. */
    .menu {
        background-color:#9B9B7A;
        list-style: none;
        position: absolute;
        margin-top:0%;
        display: none;
        height: 35%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 9;
        
    }

    /* This class specifies the block that can be seen initially */
    .dropdown{
        text-decoration:none;
        background-color:#9B9B7A;
        padding: 15px 30px;
        color:#EBF2FA;
        position: relative;
        
        
    }

    .dropdown:hover {
        background-color:#797D62;
    }
   
    /* This specifies the individual links to the different regions within the dropdown menu */
    .region {
        padding: 15px 30px;
        display: block;
        text-decoration:none;
        color:#EBF2FA;
        font-size:85%;
        width: 100%;
    }

    .region:hover {
        background-color:#797D62;
    }
    /* This code ensures that while the user is hovering over any part of the dropdown menu the main title stays the same background colour */
    .content:hover {
        .dropdown {
            background-color:#797D62;
        }
    }

    
    /* This is the end of the dropdown menu code */

/* This is the end of the code for the Libraries Near You page */
/* This is the start of the code for the expandable content */
   /* This includes all of the content in the expandables */
   .expandable {
        width: 100%;
        margin: 1em 0;
        font-size: 16px;
   }

    /*The javascript code toggles between this expandable-open class to open and close the expandable.
    This code below makes it so that when the .expandable-open class is applied the expandable content
    becomes visible  */
   .expandable-open {
    .expandable-content {
        grid-template-rows: 1fr;
    }
   }
   /* This code (along with the javascript code) animates the arrow icon in the expandable content, 
   making it rotate when the expandable content is opened and closed */
   .expandable-open {
    .expandable_icon {
        transform: rotate(-90deg);
    }
   }
  
   .expandable_icon {
        transition: transform 0.3s;
   }
    /* This class includes the title bar that is initially visible when the expandable content is closed */
   .expandable_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px;
        user-select: none;
        background-color: #B58463;
        border-radius: .5em .5em 0 0;
        cursor: pointer;
    }
    /* This class targets the title itself on the title bar */
   .expandable_title {
        font-weight: bold;
    }
   /* This class includes all the content in the main part of the expandable that is only visible when the expandable is open */
   .expandable_main {
        padding: 0 18px;
        line-height: 1.4;
        font-size: 0.85em;
        border: 1px solid black;
        border-top: none;
        border-radius: 0 0 .5em .5em;
        overflow: hidden;
        background-color:#F1DCA7;
        color: black;
        margin-bottom: 2px;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
        justify-content: center;
        align-items: center;
        grid-column-gap: .5em;
    
    }
   /* This class helps to make the layout for the .expandable_main content. It seperates the link and the address, */
   .address {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   /* this is the div class that wraps around the .expandable_main content. It controls the transition between open and
    close and sets the expandable content so that it is initially not seen */
   .expandable-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-out;

    }

/* This is the end of the code for the expandable content */
/* This is the end of the code for the libraries pages */

/* This is the start of the code for the Bookstores A - Z page (bookstores.html) */
    /* this class includes both the quicklinks and book list itself */
    .AtoZ {
        display: flex;
        align-items: flex-start;
        
    }

    .AtoZ h3 {
        color: black;
    }

    .AtoZ p {
        color: white;
        font-size: 15px;
    }
    /* This code targets the booklist that is the main content for this page */
    .booklist {
        margin-left: 1%;
        overflow: auto;
        width: 90%;

    }
    /* This code is for the quick links which enable quick acess to any part of the page. 
     has the postion sticky so that it scrolls with the screen untill the header is out 
     of the viewport then it sticks in a fixed position to the left hand side of the screen.  */
    .quicklinks {
        position: sticky;
        top: 20%;
        height: 100vh;
        width: 10%;
        overflow: auto;
        background-color: #B58463;
        text-align: center;

    }

    .quicklinks a{
        display: block;
        padding-bottom: 2em;
        padding-top: 2em;
        text-decoration: none;
        color: white;
        
    }


    .quicklinks a:hover {
        background-color: #EBF2FA;
        opacity: 0.5;
        color:#B58463;
         
    }
    /* This class is specifically for the sub-headings in the book list (A -, B - etc) */
    .booklistHead {
        scroll-margin-top: 24vh;
    }
    /* This code enables the layout between the bookstore name and the town that it is in */
    .bookshop {
        display: flex;
        justify-content: space-between;
    }

    .bookshop p {
        color: black;
        margin-right: 10%;
    }

/* This is the end of the code for the Bookstores A - Z page */


/* This is the start of the @media code (which applies to all pages) */
/* I have experimented with implementing the @media queries. The @media tag is used 
for responsive web design and changes certain css elements when a condition is met.
 I have set two conditions when the viewport is smaller than 750px (max-height: 750px;) 
 and when the viewport is bigger than 750px (max-height: 750px) */
   /* When the screen is smaller than 750px... */
    @media screen and (max-width: 750px) {
        /* Instead of the expandable content on the libraries pages being two across, they will be one across*/
        .librarymains {
            display: block;   
        }
       /* The width slides on the image carousel will take up the entire view width of the carousel */
        .items {
            flex: 0 0 100%; 
        }
        /* The nav links will go under the logo and won't have a smaller text size than 18px */
        nav {
            display: block;

            .nav_link {
                display: block;
                a {
                    font-size: 18px;
                }
            }
            .nav_img {
                height: 50%;
                width: auto;
            }
        }     
    }
    /* When the screen is 750px wide or more... */
    @media screen and (min-width: 750px) {
        /* The slides ont he images carousel will return to their orignal width */
        .items {
            flex: 0 0 45%;
        }
    }

